{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <hr class="sidebar-divider my-2"><br>
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url '' %}">
        <div class="">
            <!-- <i class="fa fa-user-circle-o"></i> -->
            <img src="{% static 'images/posocologo.png' %}" style="max-width:50%; max-height:50%;">
        </div>


    </a>
    <br>
    <!-- Divider -->
    <hr class="sidebar-divider my-2">
    <div class="sidebar-heading">
        Last Login:
    </div>
    <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fa fa-clock-o"></i>
            <span>{{user.lastlogin}}</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <hr class="sidebar-divider d-none d-md-block">

    <div class="sidebar-heading">
        Projects
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'auditor_view_projects' %}">
            <i class="fa fa-eye"></i>
            <span>View All Projects</span></a>
    </li>
    <hr class="sidebar-divider d-none d-md-block">
    <div class="sidebar-heading">
        Admin uploaded info
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>View admin uploads</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/auditor_view_TESGs">View All TESG</a>
                <a class="collapse-item" href="/auditor_view_apprs">View All Appraisals</a>
                <a class="collapse-item" href="/auditor_view_monis">View All Monitoring</a>
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <a class="btn btn-lg btn-outline-light btn-wrap-text" href="{% url 'logout' %}"> Logout</a>
    </div>

    <!-- Sidebar Message -->


</ul>