{% extends 'psdf_main/includes/admin_layout.html'%} {% load static %} {% block body %}


<div class="row">
    <div class="col-md-4">
        <h1 class="h3 mb-2 text-gray-800">Signed Documents</h1>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-6">
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show col-md-8" role="alert" style="margin: auto;">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
    </div>
</div>

<hr>
<br>

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">Document Signing
                    <input type="text" id="temp_proj_search" class="form-control input-text pull-right border-left-warning" onkeyup="get_temp_proj('temp_proj_search','dataTable')" placeholder="Search projects" title="Search" style="margin:auto; width: 30%;">
                </h5>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="table-layout: fixed;
                width: 100%;">
                    <thead>
                        <tr>
                            <th>Project ID</th>
                            <th>Project Name</th>


                            <th>DPR acceptance date</th>
                            <th>TESG date</th>
                            <th>Appraisal date</th>
                            <th>Monitoring date</th>
                            <th>Download</th>
                            <th class="alert alert-warning text-center">Action</th>
                            <th>Payment</th>


                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Project ID</th>
                            <th>Project Name</th>


                            <th>DPR acceptance date</th>
                            <th>TESG date</th>
                            <th>Appraisal date</th>
                            <th>Monitoring date</th>
                            <th>Download</th>
                            <th class="alert alert-warning text-center">Action</th>
                            <th>Payment</th>


                        </tr>
                    </tfoot>
                    <tbody>
                        {% if not projs %}
                        <tr>
                            <td>Not Available</td>
                            <td>Not Available</td>

                            <td>Not Available</td>
                            <td>Not Available</td>
                            <td>Not Available</td>
                            <td>Not Available</td>
                            <td>Not Available</td>
                            <td>Not Available</td>
                            <td>Not Available</td>


                        </tr>
                        {% else %} {% for proj in projs %}
                        <tr>
                            <td class="font-weight-bolder">{{proj.newid}}</td>
                            <td><a href="/user_project_details/{{proj.id}}" class="font-weight-bold text-danger">{{proj.name}}</a></td>

                            <td>{{proj.dpraprdate}}</td>

                            <td>
                                {{proj.tesgaprdate}}
                            </td>
                            <td>{{proj.appraprdate}}</td>
                            <td>{{proj.moniaprdate}}</td>
                            <td><a class="btn btn-outline-primary" href="/download_doc_sign/{{proj.id}}"><i class="fas fa-download"></i> Download </a></td>
                            {% if proj.approved == False or proj.approved == '' or proj.approved == None%}
                            <td>
                                <form action="{% url 'admin_in_doc_sign' %}" method="POST" name="admindocsign" id="admindocsign">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-outline-danger btn-responsive text-center btn-block" data-toggle="modal" data-target="#modal{{proj.id}}">
                                   Accept
                                </button>


                                    <div class="modal fade" id="modal{{proj.id}}" tabindex="-1" role="dialog" aria-labelledby="modal{{proj.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="modal-title text-black-50" id="">Confirmation</h3>

                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                                </div>


                                                <div class="modal-body">
                                                    <h5 class="font-weight-bold">Please ensure that the document is correct as per PSDF norms before acceptance.</h5>
                                                    <hr>
                                                    <br>
                                                    <input type="hidden" value="{{proj.id}}" name="projid" id="projid">
                                                    <div class="row container-fluid">
                                                        <input type="password" class="form-control col-md-6" name="adminpass" id="adminpass" placeholder="Enter Administrator password.">
                                                        <div class="col-md-1"></div>
                                                        <input type="submit" class="btn btn-block col-md-4 btn-outline-success" value="Confirm">
                                                        <div class="col-md-1"></div>
                                                    </div>
                                                    <br>
                                                    <hr>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </td>
                            <td> Release payment</td>
                            {% else %}
                            <td class="alert-success">
                                <h6 class="font-weight-bold text-center">Accepted</h6>
                            </td>
                            <td>
                                <a href="/init_release/{{proj.id}}" class="btn btn-outline-secondary btn-block">Initial Payment</a>
                            </td>
                            {% endif %}
                        </tr>


                        {% endfor %} {% endif %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</div>

<script>
    function get_temp_proj(btnID, rpc) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById(btnID);
        filter = input.value.toUpperCase();
        table = document.getElementById(rpc);
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}