{% extends 'psdf_main/includes/admin_layout.html'%} {% load static %} {% block body %}

<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between mb-4 col-md-6">
        <h1 class="h3 mb-0 text-gray-800">Administrator Control Panel</h1>

    </div>
    <div class="col-md-6">
        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show col-md-8" role="alert" style="margin: auto;">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <form action="{% url 'uploadformat' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <a href="#format" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-warning">Upload Format Documents</h6>
                </a>

                <div class="collapse" id="format">
                    <div class="card-body">
                        <br>
                        <div class="row">
                            <div class="col-md-3">Upload format documents:</div>

                            <div class="col-md-3">
                                <label class="" for="format" id="format-label">Format</label>
                                <input type="file" class=" form-control-file btn btn-outline-danger" name="format" id="format">


                            </div>
                            <div class="col-md-3">
                                <label class="" for="support" id="support-label">&nbsp;<span class="text">Supporting Documents</span></label>
                                <input type="file" class=" form-control-file btn btn-outline-danger" name="support" id="support">



                            </div>
                            <div class="col-md-3">
                                <label class="" for="support" id="support-label">&nbsp;<span class="text">BOQ Format</span></label>
                                <input type="file" class=" form-control-file btn btn-outline-danger" name="boqformat" id="boqformat" accept=".xls, .xlsx">



                            </div>

                        </div>
                        <hr>
                        <br> PSDF Sectt. has the right to upload new format documents as well as 3 sample DPRs, this upload will be available to the entity for their refernce.
                        <ul>
                            <li>DPR Format must contain the forms which are to be filled by the entity while filing for a new DPR</li>
                            <li>Supporting Documents must contain the documents which could prove helpful to the user while filing new DPR</li>
                            <li>3 Sample DPRs are to be made available to the user for reference purposes.</li>

                        </ul>
                        <hr>

                        <div class="row">
                            <div class="col-md-4 font-weight-bolder">Upload sample DPRs: </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class=" btn btn-outline-primary" for="sample1" id="sample1-label"><i class="fa fa-upload"></i> &nbsp;<span class="text">Sample 1</span></label>
                                        <input type="file" class="custom-file-input " name="sample1" id="sample1">

                                    </div>
                                    <div class="col-md-2">
                                        <label class=" btn btn-outline-warning" for="sample2" id="sample2-label"><i class="fa fa-upload"></i> &nbsp;<span class="text">Sample 2</span></label>
                                        <input type="file" class="custom-file-input " name="sample2" id="sample2">

                                    </div>
                                    <div class="col-md-2">
                                        <label class=" btn btn-outline-success" for="sample3" id="sample3-label"><i class="fa fa-upload"></i> &nbsp;<span class="text">Sample 3</span></label>
                                        <input type="file" class="custom-file-input " name="sample3" id="sample3">

                                    </div>

                                </div>
                            </div>
                        </div>
                        <br>
                        <hr><br>

                        <div class="row">
                            <div class="col-md-4">Enter administrator password to submit: </div>
                            <div class="col-md-2"></div>
                            <input type="password" class="form-control bg-gray-100 border-bottom-success col-md-6" name="adminpassF" id="adminpassF" placeholder="Enter administrator password" required>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6"><input type="submit" class="btn btn-outline-dark btn-lg btn-block" value="Submit"></div>
                            <div class="row"></div>

                        </div>
                        <br>
                    </div>



                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <form action="{% url 'TESG_upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <a href="#tesg" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-danger">Update TESG information</h6>
                </a>

                <div class="collapse" id="tesg">
                    <div class="card-body">
                        <br>
                        <div class="row">
                            <div class="col-md-4">TESG number : </div>
                            <div class="col-md-2"></div>
                            <input type="number" class="form-control bg-gray-100 border-left-info col-md-6" name="tesgnum" id="tesgnum" placeholder="Enter TESG meeting number" required>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">TESG Date : </div>
                            <div class="col-md-2"></div>
                            <input type="date" class="form-control bg-gray-100 border-left-success col-md-6" name="tesgdate" id="tesgdate" required>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-4">Upload outcomes : </div>
                            <div class="col-md-2"></div>
                            <input type="file" class="form-control-file btn btn-outline-warning border-bottom-warning col-md-4" name="momupload" id="momupload" required>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">Project IDs discussed (eg. 34,897,12, etc): </div>
                            <div class="col-md-2"></div>
                            <input type="text" class="form-control bg-gray-100 border-left-danger col-md-6" name="projids" id="projids" placeholder="Enter comma separated Project IDs discussed" required>
                        </div>
                        <br>
                        <hr><br>

                        <div class="row">
                            <div class="col-md-4">Enter administrator password to submit: </div>
                            <div class="col-md-2"></div>
                            <input type="password" class="form-control bg-gray-100 border-bottom-success col-md-6" name="adminpassT" id="adminpassT" placeholder="Enter administrator password" required>
                        </div>
                        <hr><br>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6"><input type="submit" class="btn btn-outline-dark btn-lg btn-block" value="Submit"></div>
                            <div class="row"></div>

                        </div>
                        <br>
                    </div>



                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <form action="{% url 'APPR_upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <a href="#appr" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-success">Update Appraisal information</h6>
                </a>

                <div class="collapse" id="appr">
                    <div class="card-body">
                        <br>
                        <!-- <div class="row">
                            <div class="col-md-4">Appraisal number : </div>
                            <div class="col-md-2"></div>
                            <input type="number" class="form-control bg-gray-100 border-left-info col-md-6" name="tesgnum" id="tesgnum" placeholder="Enter TESG meeting number" required>
                        </div>
                        <br>-->
                        <div class="row">
                            <div class="col-md-4">Appraisal Date : </div>
                            <div class="col-md-2"></div>
                            <input type="date" class="form-control bg-gray-100 border-left-success col-md-6" name="apprdate" id="apprdate" required>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-4">Upload outcomes (MoM) : </div>
                            <div class="col-md-2"></div>
                            <input type="file" class="form-control-file btn btn-outline-warning border-bottom-warning col-md-4" name="momupload" id="momupload" required>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">Project ID </div>
                            <div class="col-md-2"></div>
                            <input type="number" class="form-control bg-gray-100 border-left-danger col-md-6" name="projid" id="projid" placeholder="Enter project ID" required>
                        </div>
                        <br>
                        <hr><br>

                        <div class="row">
                            <div class="col-md-4">Enter administrator password to submit: </div>
                            <div class="col-md-2"></div>
                            <input type="password" class="form-control bg-gray-100 border-bottom-success col-md-6" name="adminpassA" id="adminpassA" placeholder="Enter administrator password" required>
                        </div>
                        <hr><br>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6"><input type="submit" class="btn btn-outline-dark btn-lg btn-block" value="Submit"></div>
                            <div class="row"></div>

                        </div>
                        <br>
                    </div>



                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <form action="{% url 'MONI_upload' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <a href="#moni" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <h6 class="m-0 font-weight-bold text-primary">Update Monitoring information</h6>
                </a>

                <div class="collapse" id="moni">
                    <div class="card-body">
                        <br>
                        <div class="row">
                            <div class="col-md-4">Monitoring Date : </div>
                            <div class="col-md-2"></div>
                            <input type="date" class="form-control bg-gray-100 border-left-success col-md-6" name="monidate" id="monidate" required>
                        </div>

                        <br>
                        <div class="row">
                            <div class="col-md-4">Upload outcomes (MoM) : </div>
                            <div class="col-md-2"></div>
                            <input type="file" class="form-control-file btn btn-outline-warning border-bottom-warning col-md-4" name="momupload" id="momupload" required>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-4">Project ID </div>
                            <div class="col-md-2"></div>
                            <input type="number" class="form-control bg-gray-100 border-left-danger col-md-6" name="projid" id="projid" placeholder="Enter project ID" required>
                        </div>
                        <br>
                        <hr><br>

                        <div class="row">
                            <div class="col-md-4">Enter administrator password to submit: </div>
                            <div class="col-md-2"></div>
                            <input type="password" class="form-control bg-gray-100 border-bottom-success col-md-6" name="adminpassM" id="adminpassM" placeholder="Enter administrator password" required>
                        </div>
                        <hr><br>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6"><input type="submit" class="btn btn-outline-dark btn-lg btn-block" value="Submit"></div>
                            <div class="row"></div>

                        </div>
                        <br>
                    </div>



                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}