{% extends 'psdf_main/includes/admin_layout.html'%} {% load static %} {% block body %}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Projects under Monitoring committee</h1>
</div>

<div class="row">

    <div class="col-lg-12">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-success">Under Monitoring Comiitee
                    <input type="text" id="temp_proj_search" class="form-control input-text pull-right border-left-danger" onkeyup="get_temp_proj('temp_proj_search','dataTable')" placeholder="Search projects by ID" title="Search" style="margin:auto; width: 30%;">
                </h6>
            </div>
            <div class="card-body">
                {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show col-md-8 text-center" role="alert" style="margin: auto;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}<br>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="table-layout: fixed;
                    width: 100%;">
                        <thead>
                            <tr>
                                <th>Project ID</th>
                                <th>Project Name</th>
                                <th>User</th>
                                <th>Entity</th>
                                <th>Upload Monitoring Committee Report</th>

                                <th>Approve</th>
                                <th>Send back to Appraisal</th>
                                <th>Reject</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Project ID</th>
                                <th>Project Name</th>
                                <th>User</th>
                                <th>Entity</th>
                                <th>Upload Monitoring Committee Report</th>

                                <th>Approve</th>
                                <th>Send back to Appraisal</th>
                                <th>Reject</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% if not monitoring_projects %}
                            <tr>
                                <td>Not Available</td>
                                <td>Not Available</td>
                                <td>Not Available</td>
                                <td>Not Available</td>
                                <td>Not Available</td>
                                <td>Not Available</td>
                                <td>Not Available</td>
                                <td>Not Available</td>
                                <td>Not Available</td>




                            </tr>

                            {% else %} {% for proj in monitoring_projects %}
                            <tr>
                                <td class="font-weight-bolder">{{proj.id}}</td>
                                <td><a href="/admin_project_details/{{proj.id}}" class="font-weight-bold text-danger">{{proj.name}}</a></td>
                                <td>{{proj.userid.username}}</td>
                                <td>{{proj.userid.region}}</td>


                                {% if proj.id in appr_admin %}

                                <td class="text-center alert-success">
                                    <button type="button" class="btn btn-outline-success btn-responsive" data-toggle="modal" data-target="#modalforUpload{{proj.id}}">
                                            <i class="fa fa-upload"></i> Update
                                        </button>
                                </td>
                                {% else %}

                                <td class="text-center">
                                    <button type="button" class="btn btn-outline-warning btn-responsive" data-toggle="modal" data-target="#modalforUpload{{proj.id}}">
                                        <i class="fa fa-upload"></i> Upload
                                    </button>

                                </td>
                                {% endif %}

                                <td class="text-center"><button type="button" class="btn btn-outline-success btn-responsive" data-toggle="modal" data-target="#modalforAppr{{proj.id}}">
                                        <i class="fa fa-check"></i> Approve
                                    </button></td>
                                <td class="text-center"><a href='/send_to_appr/{{proj.id}}' class="btn btn-outline-info">Revert to Appraisal</a></td>
                                <td class="text-center"><button type="button" class="btn btn-outline-danger btn-responsive" data-toggle="modal" data-target="#modalforreject{{proj.id}}">
                                        <i class="fa fa-close"></i> Reject
                                    </button></td>
                            </tr>

                            <div class="modal fade" id="modalforUpload{{proj.id}}" tabindex="-1" role="dialog" aria-labelledby="modalforUpload{{proj.id}}" aria-hidden="true">
                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="">
                                                Document upload in monitoring phase</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" action="/update_monitoring/{{proj.id}}" enctype="multipart/form-data" name="monitoringDoc" id="monitoringDoc">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <p><i>NOTE: </i> Kindly upload only one file, if you wish to upload multiple files, please ensure to upload a zip file containing all files.</p>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <p class="text-primary col-md-4 font-weight-bold">Date of monitoring committee</p>
                                                    <div class="col-md-2"></div>
                                                    <input type="datetime-local" class="form-control bg-gray-100 border-left-success col-md-6" name="apprdate" id="apprdate" required>

                                                </div>
                                                <br>
                                                <div class="row">
                                                    <p class="text-primary col-md-4 font-weight-bold">Select Document.</p>
                                                    <div class="col-md-2"></div>
                                                    <input type="file" class="form-control-file btn btn-outline-success col-md-4" name="observations" id="observations"> {% if proj.id in appr_admin %}
                                                    <div class="col-md-2">
                                                        <a href="/delete_appr_doc/{{proj.id}}" class="btn btn-outline-danger">Delete</a>
                                                    </div>
                                                    {% endif %}
                                                </div><br>
                                                <div class="row">
                                                    <p class="col-md-6 font-weight-bold">Enter Administrator password to proceed:
                                                    </p>
                                                    <input type="password" class="form-control bg-gray-200 border-left-success col-md-6" name="adminpass" id="adminpass" placeholder="Enter administrator password" required>
                                                </div><br>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Close</button>&nbsp;&nbsp;
                                                    <input type="submit" class="btn btn-outline-success btn-lg" value="Upload">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="modalforAppr{{proj.id}}" tabindex="-1" role="dialog" aria-labelledby="modalforAppr{{proj.id}}" aria-hidden="true">
                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id=""> <strong>Approval by monitoring committee:
                                                    {{proj.name}} ({{proj.id}})</strong></h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <p><i>NOTE: </i> Kindly make sure that all requirements are fulfilled before approving the project in approval phase, this action cannot be undone.</p>
                                            </div>
                                            <hr>
                                            <form method="POST" action="/approve_monitoring/{{proj.id}}" enctype="multipart/form-data" name="monitoringDoc" id="monitoringDoc">
                                                {% csrf_token %}
                                                <br>

                                                <div class="row">
                                                    <p class="col-md-6 font-weight-bold">Enter Administrator password to proceed:
                                                    </p>
                                                    <input type="password" class="form-control bg-gray-200 border-left-success col-md-6" name="adminpass" id="adminpass" placeholder="Enter administrator password" required>
                                                </div><br>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Close</button>&nbsp;&nbsp;
                                                    <input type="submit" class="btn btn-outline-success btn-lg" value="Approve">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal fade" id="modalforreject{{proj.id}}" tabindex="-1" role="dialog" aria-labelledby="modalforreject{{proj.id}}" aria-hidden="true">
                                <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id=""> <strong>Reject project: {{proj.name}}
                                                    ({{proj.id}})</strong></h3>

                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>


                                        <div class="modal-body">
                                            <form method="POST" action="/rejectproject/Appriasal_{{proj.id}}">
                                                {% csrf_token %}

                                                <div class="row">
                                                    <p class="col-md-6 font-weight-bold">Date of rejection:</p>
                                                    <input type="datetime-local" class="form-control bg-gray-200 border-left-danger col-md-6" name="rejectdate{{proj.id}}" id="rejectdate{{proj.id}}" required>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <p class="col-md-6 font-weight-bold">Remark:</p>
                                                    <input type="text" class="form-control bg-gray-200 border-left-danger col-md-6" name="rremark{{proj.id}}" id="rremark{{proj.id}}" placeholder="Enter Remarks" required>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <p class="col-md-6 font-weight-bold">Enter Administrator password to proceed:
                                                    </p>
                                                    <input type="password" class="form-control bg-gray-200 border-left-danger col-md-6" name="radminpass{{proj.id}}" id="radminpass{{proj.id}}" placeholder="Enter administrator password" required>
                                                </div><br>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                    </div>

                                                </div>


                                                <div class="modal-footer">

                                                    <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal">Close</button>&nbsp;&nbsp;
                                                    <input type="submit" class="btn btn-outline-danger btn-lg" value="Reject project">

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>


                            {% endfor %} {% endif %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

<script>
    function get_temp_proj(btnID, rpc) {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById(btnID);
        filter = input.value.toUpperCase();
        table = document.getElementById(rpc);
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
{% endblock %}