{% extends 'psdf_main/includes/layout.html'%} {% load static %} {% block body %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Apply a new DPR</h1>
</div>
<div class="row">

    <div class="col-lg-6">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Instructions</h6>
            </div>
            <div class="card-body">
                Give all the instructions hereGive all the instructions hereGive all the instructions hereGive all the instructions hereGive all the instructions hereGive all the instructions hereGive all the instructions hereGive all the instructions hereGive all the
                instructions hereGive all the instructions hereGive all the instructions hereGive all the instructions here Give all the instructions hereGive all the instructions here
            </div>
        </div>




    </div>
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">View Format</h6>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="collapseCardExample">
                <div class="card-body">
                    download forms A1 tpo C
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}